.btn {
    display: flex;
    margin-bottom:0.5rem;
    width: 100vw;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(73, 62, 49, 0.25);
    background-color: rgb(221, 205, 174);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(151, 142, 121);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.btn {
    padding: 1.5rem 2.5rem;
    background-color: rgb(234, 245, 240);
    color: rgb(36, 33, 26);
}

.choice-text {
    padding: 1.5rem;
}